<div class="h-16 shrink-0 flex items-center justify-center px-4">
  <%= image_tag("gupii.png", class: "h-21 w-21 rounded-full object-cover", alt: "Gupii") %>
</div>

<nav class="flex flex-col">
  <%= link_to root_path,
              class: "flex gap-x-3 px-4 py-2 items-center text-sm font-semibold
                      leading-6 hover:bg-gray-50 hover:text-indigo-600" do %>
    <!-- Home icon SVG -->
    <svg class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
    </svg>
    <%= I18n.t('sidebar.home') %>
  <% end %>

  <%= link_to pix_keys_path,
              class: "flex gap-x-3 px-4 py-2 items-center text-sm font-semibold
                      leading-6 hover:bg-gray-50 hover:text-indigo-600" do %>
    <!-- ID Card icon SVG -->
    <svg class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15 9h3.75M15 12h3.75M15 15h3.75M4.5 19.5h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5zm6-10.125a1.875 1.875 0 11-3.75 0 1.875 1.875 0 013.75 0z" />
    </svg>
    <%= I18n.t('sidebar.pix_keys') %>
  <% end %>

  <%= link_to infraction_notifications_path,
              class: "flex gap-x-3 px-4 py-2 items-center text-sm font-semibold
                      leading-6 hover:bg-gray-50 hover:text-indigo-600" do %>
    <!-- Warning icon SVG -->
    <svg class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
    </svg>
    <%= I18n.t('sidebar.infraction_reports') %>
  <% end %>
</nav>